/* 设置 .App 元素的文本居中对齐 */
.App {
  text-align: center;
}

/* 设置 .App-logo 元素的高度为视口宽度的40%，禁用鼠标事件 */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* 在用户没有设置偏好减少动画时，对 .App-logo 元素应用旋转动画 */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* 设置旋转动画 */
  }
}

/* 设置 .App-header 元素的样式 */
.App-header {
  background-color: #282c34; /* 设置背景颜色 */
  min-height: 100vh; /* 设置最小高度为视口高度 */
  display: flex; /* 设置为弹性布局 */
  flex-direction: column; /* 设置主轴方向为垂直 */
  align-items: center; /* 设置项目在交叉轴上居中对齐 */
  justify-content: center; /* 设置项目在主轴上居中对齐 */
  font-size: calc(10px + 2vmin); /* 设置字体大小 */
  color: white; /* 设置字体颜色为白色 */
}

/* 设置 .App-link 元素的文本颜色 */
.App-link {
  color: #61dafb; /* 设置文本颜色为蓝色 */
}

/* 定义旋转动画的关键帧 */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* 从0度开始旋转 */
  }
  to {
    transform: rotate(360deg); /* 旋转到360度 */
  }
}
