body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Set background color to white */
}

.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.container {
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    padding: 20px;
}

.inputArea {
    position: fixed;
    bottom: 0;
    left: 59%; /* 调整这个值来将输入框向右移动一些 */
    transform: translateX(-50%);
    width: 100%;
    max-width: 768px;
    padding: 10px 0;
    z-index: 2; /* Ensure it's above other elements */
    display: flex; /* Use flex to align children inline */
    align-items: center; /* Center-align the children vertically */
    justify-content: center; /* Center-align the children horizontally */
    background-color: white; /* Ensure the input area has a background color */
}

.textInputWrapper {
    display: flex;
    align-items: center;
    background: #FFF;
    border: 1px solid #CCC; /* Light grey border */
    border-radius: 20px; /* Rounded corners for the wrapper */
    border-right: none; /* Remove border between the icon and the text input */
    overflow: hidden; /* Ensures the inner elements conform to the wrapper's border-radius */
    flex-grow: 1;
    max-width: 100%; /* Full width of its parent */
    width: auto; /* Adjust to content */
}

.inputIcon {
    padding: 10px;
    color: black;
    font-size: 16px; /* Adjust icon size as needed */
}

.textInput {
    flex-grow: 1;
    border: none;
    padding: 15px 15px;
    margin-right: 10px;
    font-size: 16px; /* Match the font size to the icon size */
    border-radius: 20px; /* Rounded corners for the text input */
    flex: 1; /* Take available space */
    max-width: 600px; /* Max width that input can take */
    border: 1px solid black; /* Black border for the text input */
    height: 40px; /* Set a fixed height for the text input */
    margin: 10 10px; /* Ensure some space between the text input and button */
    padding: 10 10px; /* Padding inside the text area for the text */
}

.disclaimer {
    text-align: center;
    font-size: 0.75em;
    padding-top: 5px;
    width: 100%; /* Match the width of the inputArea */
}

.submitBtn {
    background-color: #717375;
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 6px; /* Slight margin for the button */
    cursor: pointer;
    border-radius: 50%; /* Circular shape for the button */
    width: 30px; /* Fixed width for the circle */
    height: 30px; /* Fixed height for the circle */
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; /* Smooth transition for mouse hover */
    margin-left: 10px; /* Push the button to the end of the flex container */
    margin-right: 10px; /* Margin from the right end of the input area */
}

.textInput:focus, .submitBtn:focus {
    outline: none; /* Removes the default browser outline around elements when they receive focus */
}

@media (max-width: 768px) {
    .textInput {
        max-width: calc(100% - 50px); /* Subtract width of button and padding */
    }
}

.logoArea {
    margin-top: 30px; /* Add space at the top */
    color: #717375; /* Text color */
}

.logo {
    margin: 0 auto; /* Centers the button in the container */
    max-width: 100px; /* Adjust as needed */
    height: auto;
}

.loginIcon {
    position: fixed;
    bottom: 10px;
    width: 20.83px;
    height: 14.5px;
    background: #AFABAB;
}

.fetchBtn {
    background-color: #717375; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 50%; /* Circular button */
    cursor: pointer;
    padding: 10px;
    width: 40px; /* Width for circular shape */
    height: 40px; /* Height for circular shape */
    font-size: 24px; /* Size of the arrow icon */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px; /* Center button horizontally, add margin below */
    outline: none;
}

.submitBtn:focus {
    outline: none; /* Removes the outline of the submit button when it receives focus */
}

.fetchBtn:hover {
    background-color: #717375; /* Darker shade on hover */
}

.submitBtn:hover {
    background-color: #717375; /* Darker green on hover */
}

.serverResponse, .pluginsList {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px; /* Adjust the width as needed */
}

.pluginsList ul {
    list-style-type: none;
    padding: 0;
}

.pluginsList li {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.pluginsList li:last-child {
    border-bottom: none;
}

.appContainer {
    display: flex;    /* enables flex box layout properties to be applied to its children */
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.sidebar {
    width: 16%;
    background-color: #ffffff; /* Changed to white */
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 0px solid #ccc; /* Add border to the right */
    position: relative; /* Ensure relative positioning for internal elements */
    height: 100vh; /* Ensure sidebar spans full height of viewport */
    box-sizing: border-box; /* Include padding in element's total width and height */
}

.sidebarTop {
    flex-grow: 1;
    overflow-y: auto; /* Ensure chat list is scrollable */
}

.sidebarBottom {
    position: absolute;
    bottom: 40px; /* Adjust based on your padding and margin requirements */
    left: 10%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.sidebarButton {
    background-color: #717375;
    color: white;
    padding: 13px;
    margin-top: 1px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebarButton:hover {
    background-color: #717375;
}

.chatPreview {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.chatPreview:hover {
    background-color: #e9e9e9;
}

.chatPreview.active {
    background-color: #717375;    /* Sets the background color of active .chatPreview elements to a shade of blue */
    color: white;               /*  Sets the text color of active .chatPreview elements to white to ensures the text remains */
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.userMessageWrapper {
    display: flex;
    align-items: flex-end; /* Aligns the icon and text at their bottom edge */
}

.user .messageContent {
    background-color: #e5e5ea;
    border-radius: 18px;
    padding: 10px 15px;
    margin-left: 10px; /* Add space between icon and message */
    overflow-wrap: break-word; /* Ensure the text wraps within the bubble */
    display: inline-block;
}

.server .messageText {
    background-color: #e5e5ea;
    border-radius: 18px;
    padding: 10px 15px;
    max-width: 1200px;
    margin-left: auto; /* 将服务器消息向右对齐 */
    margin-top: 50px;  /* 增加顶部边距，让服务器消息在用户消息下方 */
    overflow-wrap: break-word; /* 确保文本在气泡内自动换行 */
    display: inline-block; /* 使背景和内容大小匹配 */
}

.userIcon {
    width: 30px;
    height: 30px;
    flex-shrink: 0; /* Prevent the icon from shrinking */
    margin-right: 10px; /* Space between icon and message content */
}

.messageContent {
    font-size: 13px;
    line-height: 1.4;
    max-width: calc(100% - 50px); /* Subtract the width of the icon and margins */
    display: inline-block;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;  /* 调整为更大的值以增加间隔 */
    width: 100%;
}

.messageAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;  /* 确保头像周围有空间 */
}

.user .messageAvatar {
    order: -1;  /* 用户头像在右侧 */
}

.server .messageAvatar {
    order: 2; /* 服务器头像在左侧 */
}

.nameTag {
    position: absolute;  /* 绝对定位 nameTag */
    top: -20px;  /* 将标签上移，可能需要根据实际情况调整 */
    font-size: 0.75rem;
    color: #666;
    width: 100%;
    text-align: center;
    left: 2%;
    transform: translateX(-50%); /* 中心对齐标签 */
}

.messageContent {
    background-color: #f4f4f8;
    border-radius: 12px;
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid #ccc;
    word-wrap: break-word; /* 确保长文本自动换行 */
    max-width: 80%; /* 限制最大宽度 */
}

.user {
    flex-direction: row;  /* 用户消息向右对齐 */
}

.server {
    flex-direction: row;  /* 服务器消息向左对齐 */
}

.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer; /* Change cursor to pointer on hover */
}
.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* 背景颜色 */
    padding: 10px;
    border-radius: 50%; /* 圆角背景 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

.wordpressButton {
    position: fixed;
    top: 43px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    background-color:  #717375;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.wordpressButton:hover {
    background-color: #0056b3;
}
